@page
@model Klothing.Pages.ProductsPage.IndexModel;


@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}

<section class="categories">
<ul>

    @foreach (var category in Model.Categories)
    {
        <li><a asp-page="./index" asp-route-categoryId="@category.Id">@category.Name</a></li>
    }
</ul>

</section>
@{
    
    var productsByMakeup = Model.Products.GroupBy(p => p.MakeupId);
}

<div class="rows">
@foreach (var makeupGroup in productsByMakeup)
{
    <div class="containers" id="product-@makeupGroup.Key">
        <section>

            <img class="img-fluid" src="~/img/@makeupGroup.First().Image" data-img="@makeupGroup.FirstOrDefault().Image">
            <h3>
                @Html.DisplayFor(modelItem => @makeupGroup.First().Name)
            </h3>
            <h7>
                @Html.DisplayFor(modelItem => @makeupGroup.First().Description)
            </h7>
            <p>
                $@Html.DisplayFor(modelItem => @makeupGroup.First().Price)
            </p>
             @foreach (var item in makeupGroup)
            {
               <button class="btn btn-primary option" data-id="@item.Makeup.Id" data-itemid="@item.Id" data-itemName="@item.Name" data-itemImage="@item.Image" data-itemDescription="@item.Description" style="background-image:url(img/@item.Image)"></button>
               if(item.QuantityInStock <=0)
               {
              <button disabled class="addtocart" id="@item.Id"><a class="disabled" asp-page="./AddCartItem" asp-route-productId="@item.Id">Sold Out</a></button>
               }else
               {
                <button class="addtocart" id="@item.Id"><a asp-page="./AddCartItem" asp-route-productId="@item.Id">Add to Cart</a></button>
               }
               
             }
        </section>
    </div>
 }
    
    </div>

@*    //we can only achieve this using javascript
    //as it is client-side*@
    <script>
        const buttons = document.getElementsByClassName("addtocart");
        $(buttons).css('display','none');
        var lastbuttonClickedId;

        $('.option').unbind('click').click(function () {
        const buttonlastClicked = document.getElementById(lastbuttonClickedId); //get the last buttonclicked
        $(buttonlastClicked).css('display','none'); //make it disappear
        @*//get the product id from buttons data-id*@
        var productId = $(this).data('itemid');
        var makeupId = $(this).data('id');
        var productImage = $(this).data('itemimage');
        var productDescription = $(this).data('itemdescription');
        var productName = $(this).data('itemname');

        var container = $('#product-' + makeupId);

        var name = container.find('h3');
        name.text(productName);

        var image = container.find('img');
        image.attr('src', 'img/' + productImage);
        
        @*//update details*@
        var description = container.find('h7');
        description.text(productDescription);

        
        //$('#'+productId).css('background-color','yellow');
        $('#'+productId).css('display','block');
        lastbuttonClickedId = productId;

            
                });
                
    </script>



