@page
@model Klothing.Pages.CartItemPage.IndexModel

@{
    ViewData["Title"] = "Index";
    var cartId = HttpContext.Session.GetInt32("cartId");
    decimal? total = 0;
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.CartItem[0].Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItem[0].Product.Image)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.CartItem[0].Quantity)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.CartItem[0].Product.Price)
            </th>
            <th>
                Total
            </th>
            <th>Delete</th>
            
        </tr>
    </thead>
    <tbody>

        @*@if(Model.Cart)*@
        @foreach (var item in Model.CartItem)
        {
            if (item.IsActive)
            {
                <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    <img class="img-fluid" src="~/img/@item.Product.Image">
                </td>
                <td>
                    <form method="post">
                    <input type="hidden" name="itemId" value="@item.Id"/> @*send the item Id to the post*@
                    <button name="operation" value="minus">-</button> @*send the operation*@
                    @Html.DisplayFor(modelItem => item.Quantity)
                    <button name="operation" value="plus">+</button>@*send the operation*@
                    </form>
                </td>
          
                <td>
                    $@Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                        @{
                            decimal? itemTotal = item.Quantity * item.Price;
                            total += itemTotal;
                        }
                    $@(item.Price * item.Quantity)
                   
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.Id">Remove</a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>
<button class="btn btn-outline-primary"><a asp-page="/CheckOutPage/Index" asp-route-productId="@cartId">Check Out</a></button>
<h3>
    $@total
</h3>


