@page
@model Klothing.Pages.CartItemPage.IndexModel

@{
    ViewData["Title"] = "Index";
    var cartId = HttpContext.Session.GetInt32("cartId");
    decimal? total = 0;
}
<div class="page">

<h1>My Cart</h1>
<table class="table">
    <thead>
        <tr>
           
            <th>
            </th>
            <th>
                Product Info
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.CartItem[0].Quantity)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.CartItem[0].Product.Price)
            </th>
            <th>
                Total
            </th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItem)
        {
           
                <tr>
                <td>
                    <img class="cart" src="~/img/@item.Product.Image">
                </td>
                <td>
                 <div>
                     <h5>@Html.DisplayFor(modelItem => item.Product.Name)</h5>
                     <p>@Html.DisplayFor(modelItem => item.Product.Description)</p>
                 </div>
                    
                </td>
                <td>
                    <form method="post">
                    <input type="hidden" name="itemId" value="@item.Id"/> @*send the item Id to the post*@
                    <button class="operation" name="operation" value="minus">-</button> @*send the operation*@
                    @Html.DisplayFor(modelItem => item.Quantity)
                        <button class="operation" name="operation" value="plus">+</button>@*send the operation*@
                    </form>
                </td>
          
                <td>
                    $@Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                        @{
                            decimal? itemTotal = item.Quantity * item.Price;
                            total += itemTotal;
                        }
                    $@(item.Price * item.Quantity)
                   
                </td>
                <td>
                   

                  
                        <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fa-sharp fa-solid fa-trash"></i></a>
                </td>
            </tr>
            
        }
    </tbody>
</table>
<form method="get">
        <button asp-page="/CheckOutPage/Index" asp-route-productId="@cartId" class="btn btn-outline-primary checkout">Check Out</button>

</form>
<h3 class="total">
    $@total
</h3>

</div>

